<form>
    <div class="row">
        <h1 class="col">First Name</h1>
        <input type="text" name="first_name" class="col" value="{{me.first_name}}">
    </div>
    <div class="row">
        <h1 class="col">Last Name</h1>
        <input type="text" name="last_name" class="col" value="{{me.last_name}}">
    </div>
    <div class="row">
        <h1 class="col">Email</h1>
        <input type="text" name="email" class="col" value="{{me.email}}">
    </div>
    <div class="row">
        <h1 class="col">Phone Number</h1>
        <input type="text" name="phone_number" class="col" value="{{me.phone_number}}">
    </div>
    <div class="row">
        <h1 class="col">Status</h1>
        <input type="text" name="status" class="col" value="{{me.status}}">
    </div>
    <div class="row">
        <h1 class="col">Title</h1>
        <input type="text" name="phone_number" class="col" value="{{me.title.title}}">
    </div>
    <div class="row">
        <h1 class="col">Website Title</h1>
        <input type="text" name="phone_number" class="col" value="{{me.website_power.title}}">
    </div>
</form>